body {
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
  width: 90%;
  border-radius: 15px;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input{
  padding: 5%;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 8vh;
  margin-bottom: 5%;
}

button {
  margin: 10% 0 5% 0;
  padding: 5px 10px;
  width: 30%;
  background-color: #ffa500;
  color: #fff;
  border: 1px solid #000;
  border: none;
  box-shadow: 1px 3px 13px 3px rgba(0, 0, 0, .2);
}

.pay {
  width: 100%;
  background-color: #ffa500;
  color: #fff;
  display: flex;
  padding: 4% 2%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  border-radius: 10px;
}

.pay label {
  width: max-content;

}

.select{
  display: flex;
  height: 100%;
  justify-content: space-between;
}

select {
  background-color: transparent;
  border: none;
  color: #fff;
  display: flex;
  -webkit-appearance: none;
}

option{
  text-align: center;
}

i.fas.fa-chevron-down {
  color: #000;
  font-size: 16px;
  background-color: #fff;
  padding: 2%;
  border-radius: 50px;
}


#confirmation {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

#confirmation h2 {
  font-size: 18px;
}

#confirmation button {
  margin: 0 auto;
  /* padding: 10px 20px; */
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  text-align: center;
  width: 50%;
}

.isFaild{
  box-shadow: 0 0 3px 5px red;
}
.isSucced{
  box-shadow: 0 0 3px 5px rgb(11, 200, 11);
}