body{
    padding:5%;
    margin: 0;
}

p{
    color: rgba(74, 73, 73, 0.5);
}
p span{
    color: black;
    font-weight: bold;
}
.input-group{
    display: flex;
    flex-direction: column;
    height: 12vh;
    gap: 2%;
    justify-content: space-between;
    margin: 8% 0;
}

.input-item{
    margin-top: 2%;
    display: flex;
    height: 5vh;
    align-items: center;
    padding: 4% 5%; 
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    gap: 3%;
}
.input-item input{
    border: none;
    height: 100%;
    width: 100%;
    color: rgba(74, 73, 73, 0.5);
    font-size: 20px;
}
.input-item input:focus{
    outline: none;
}
.google a{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2%;
    color: rgba(74, 73, 73, 0.8);
    font-size: 14px;
    margin: 15% 0 15% 0;
    text-decoration: none;
}
.google img{
    height: 4vh;
}
.btn-group{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 15% 0;
}
.btn-group button{
    border: none;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
    padding: 3%;
    width: 40%;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(84, 83, 83, 0.148);
}
.cross{
    width: max-content;
}
.forget a{
    color: #ffa500;
    justify-content: flex-start;
    font-size: 20px;
}
.redirect{
    font-size: 15px;
    color: rgba(74, 73, 73, 0.5);
}
.redirect a{
    color: #ffa500;
    font-size: 14px;
    margin: 15% 0 15% 0;
    text-decoration: none;
}

.error{
    color: red;
    font-size: 14px;
}
.chek{
    font-size: 16px;
    display: flex;
    align-items: center;
}

.contrat{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.white{
    color: #ffa500;
}